.nav_f {
  font-size: 1.125rem;
}

#header {
  position: relative;
  width: 100%;
  z-index: 100;
  background: #fff;
  transition: 200ms ease-in-out;
}
#header .inner {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}
#header .inner .top {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
}
#header .icon {
  text-align: center;
  animation: logo-icon 2s linear infinite;
}
#header .icon-part {
  position: relative;
  height: 100%;
  margin: 0 0.03125em;
}
#header .icon-part::before {
  content: "";
  position: absolute;
  left: 67%;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#header .icon-part.left .logo_txt {
  display: block;
  font-size: 1.1rem;
  margin-left: -10px;
}
#header .icon-part.right {
  height: 30px;
  animation: logo-right 2s linear infinite;
}
#header .icon-part.right::before {
  top: 1em;
  background-color: #E60012;
}
#header .iconbar ol {
  border: 1.5px solid #E9E9E9;
  border-radius: 5px;
}
#header .iconbar li {
  float: left;
  position: relative;
}
#header .iconbar li:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 10px;
  background: #E9E9E9;
  transform: translateY(-50%);
}
#header .iconbar li:last-child::after {
  display: none;
}
#header .iconbar li a {
  color: #888;
  padding: 7px 12px;
}
#header .iconbar li.email_con span {
  background: url("/img/email_con.png") no-repeat left 3px/14px auto;
  padding: 0 0 0 20px;
  font-size: 0.75rem;
  display: block;
}
#header .iconbar li.support_con span {
  background: url("/img/support_con.png") no-repeat left 2px/14px auto;
  padding: 0 0 0 17px;
  font-size: 0.75rem;
  display: block;
}

#navbarNav {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  transition: background-color 0.3s ease;
}
#navbarNav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#navbarNav > ul {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbarNav > ul > li.nav-item {
  float: left;
  text-align: center;
  height: 64px;
  width: 20%;
  position: relative;
}
#navbarNav > ul > li.nav-item:after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
}
#navbarNav > ul > li.nav-item:last-child {
  margin: 0;
}
#navbarNav > ul > li.nav-item:nth-child(2) .sub_menu, #navbarNav > ul > li.nav-item:nth-child(4) .sub_menu {
  width: 250px;
}
#navbarNav > ul > li.nav-item > a {
  font-weight: 500;
  padding: 19px 0;
  border-radius: 30px;
  position: relative;
}
#navbarNav > ul > li.nav-item > a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #EB9898;
  height: 4px;
  transition: width 500ms ease-in-out;
}
#navbarNav > ul > li.nav-item.on .sub_menu {
  opacity: 1;
  transition: height 0.5s ease;
  visibility: visible;
}
#navbarNav > ul > li.nav-item.on a:after {
  display: block;
  width: 100%;
}
#navbarNav > ul > li.nav-item .sub_menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 65px 0px 0;
  width: 250px;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  visibility: hidden;
  background: #fff;
  z-index: -1;
}
#navbarNav > ul > li.nav-item .sub_menu li {
  padding: 20px 0px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(136, 136, 136, 0.2);
  border-left: 1px solid rgba(136, 136, 136, 0.2);
  border-right: 1px solid rgba(136, 136, 136, 0.2);
}
#navbarNav > ul > li.nav-item .sub_menu li:first-child {
  border-top: 1px solid rgba(136, 136, 136, 0.2);
}
#navbarNav > ul > li.nav-item .sub_menu li a i {
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  border-radius: 0;
  transition: all 1s;
  margin: 8px 0 0;
  display: none;
}
#navbarNav > ul > li.nav-item .sub_menu li a:hover {
  font-weight: 600;
}
#navbarNav > ul > li.nav-item .sub_menu li a:hover i {
  width: 100%;
}
#navbarNav .right_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbarNav .right_box .select_box {
  background: #fff;
  padding: 13px 20px;
  border-radius: 30px;
  width: 260px;
  margin: 0 5% 0 0;
  position: relative;
}
#navbarNav .right_box .select_box.on {
  background: rgb(255, 255, 255);
}
#navbarNav .right_box .select_box a {
  font-size: 1rem;
  position: relative;
  font-weight: 500;
}
#navbarNav .right_box .select_box a .arrow {
  position: absolute;
  top: 7px;
  right: 0;
}
#navbarNav .right_box .select_box a .arrow:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#navbarNav .right_box .select_box .sub_box {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  padding: 50px 0px 10px;
  z-index: -1;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 1s linear;
}
#navbarNav .right_box .select_box .sub_box.on {
  opacity: 1;
  display: block;
}
#navbarNav .right_box .select_box .sub_box li {
  border-bottom: 1px solid #232323;
}
#navbarNav .right_box .select_box .sub_box li:first-child {
  border-top: 1px solid #232323;
}
#navbarNav .right_box .select_box .sub_box li:last-child {
  border-bottom: 0;
}
#navbarNav .right_box .select_box .sub_box li a {
  padding: 10px 20px;
}

.navbar-toggler {
  position: relative;
  width: 33px;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 14px 4px 15px;
  display: none;
}
.navbar-toggler .btn_line_02 {
  margin: 6px 0;
}
.navbar-toggler.on .btn_line_01 {
  transform: rotateZ(-45deg) translate3d(-3px, 5px, 0);
  width: 25px;
  top: 3px;
}
.navbar-toggler.on .btn_line_02 {
  opacity: 0;
  transform: translateX(0);
}
.navbar-toggler.on .btn_line_03 {
  transform: rotateZ(45deg) translate3d(-6.5px, -8px, 0);
  width: 25px;
  top: 3px;
}
.navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 25px;
}
.navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 25px;
}
.navbar-toggler .hamburger-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 17px;
}
.navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_02 {
  width: 25px;
}
.navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 17px;
}
.navbar-toggler .hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}
.navbar-toggler .hamburger-menu span.iconbar {
  position: relative;
  display: block;
  width: 25px;
  height: 1px;
  border: 1px solid #232323;
  border-radius: 10px;
  background: #232323;
  transition: all 0.2s ease-in-out;
  transition: width 0.13s ease-out, transform 0.13s ease-out, opacity 0.13s ease-out;
}
.navbar-toggler .hamburger-menu span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.navbar-toggler .hamburger-menu span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

@keyframes logo-right {
  0% {
    transform: translateY(-40%);
  }
  25% {
    transform: translateY(-50%);
  }
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
  }
}
@keyframes logo-icon {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(5%);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.aside_bg.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#aside {
  position: fixed;
  right: -70%;
  top: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 100px 0 0;
  background-color: #D15151;
  z-index: 99;
  transition: right 300ms ease-in-out;
}
#aside.on {
  right: 0;
}
#aside .navbar-nav_m {
  height: 100%;
}
#aside .navbar-nav_m ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#aside .navbar-nav_m ul > li:last-child p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aside .navbar-nav_m ul > li:last-child p > a {
  width: 50%;
  text-align: center;
  color: #fff;
}
#aside .navbar-nav_m ul > li:last-child .email_con {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#aside .navbar-nav_m ul > li:last-child .email_con span {
  background: url("/img/email_con_w.png") no-repeat left 2px/17px auto;
  padding: 0 0 0 23px;
  font-size: 1rem;
}
#aside .navbar-nav_m ul > li:last-child .support_con span {
  background: url("/img/support_con_w.png") no-repeat left 0/18px auto;
  padding: 0 0 0 23px;
  font-size: 1rem;
}
#aside .navbar-nav_m ul > li a {
  padding: 20px 30px;
  position: relative;
}
#aside .navbar-nav_m ul > li a .arrow {
  position: absolute;
  top: 5px;
  right: 13px;
}
#aside .navbar-nav_m ul > li a .arrow:after {
  position: absolute;
  right: 23px;
  top: 23px;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid white;
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#aside .navbar-nav_m ul > li.on .arrow:after {
  transform: rotate(-45deg);
  transition: transform 0.5s;
}
#aside .navbar-nav_m ul > li .sub {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: #EB9898;
}
#aside .navbar-nav_m ul > li .sub > li a {
  font-weight: 400;
}
#aside .navbar-nav_m ul > li .sub > li a::before {
  display: none;
}
#aside .navbar-nav_m ul > li > a {
  font-weight: 600;
  color: #fff;
}
#aside .navbar-nav_m ul > li > a i {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #4F9EC5;
  border-radius: 50px;
}

#footer {
  position: relative;
  padding: 70px 0;
  background: #000;
}
#footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}
#footer .f_left {
  display: flex;
  align-items: start;
}
#footer .f_left .agree_btn {
  display: flex;
  margin: 20px 0 0;
}
#footer .f_left .agree_btn a {
  color: #AFAFAF;
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
}
#footer .f_left .agree_btn a:first-child {
  margin: 0 15px 0 0;
  padding: 0px 15px 0 0;
}
#footer .f_left .agree_btn a:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 15px;
  background: #AFAFAF;
  transform: translateY(-50%);
}
#footer .f_left .address {
  color: #9F9F9F;
  margin: 0 0 0 50px;
  font-size: 1.125rem;
}
#footer .f_left .address ul {
  margin: 13px 0 30px;
}
#footer .f_left .address li {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
  flex-wrap: wrap;
}
#footer .f_left .address li i {
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #9F9F9F;
  margin: 0 10px;
}
#footer .f_right .sns {
  display: flex;
  margin: 0 0 15px 0;
}
#footer .f_right .sns li {
  width: 48px;
  height: 48px;
  border: 1.5px solid #fff;
  border-radius: 100%;
  margin: 0 15px 0 0;
}
#footer .f_right .sns li:last-child {
  margin: 0;
}
#footer .f_right .sns li a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#footer .f_right p {
  background: #fff;
  margin: 0 0 7px 0;
}
#footer .f_right p:last-child {
  margin: 0;
}

#topBtn {
  border: #9F9F9F;
  background: #9F9F9F;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translate(-50%);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topBtn.go_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  top: auto;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 300ms ease;
}
#topBtn.go_top.on {
  transform: translateY(0px);
  opacity: 1;
}
#topBtn i {
  display: block;
  width: 2px;
  height: 15px;
  background: #fff;
  position: relative;
}
#topBtn i:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -4px;
  width: 8px;
  height: 8px;
  display: block;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
}

@media (max-width: 1920px) {
  #header .navbar .container #navbarNav .right_box .select_box {
    width: 200px;
  }
}
@media (max-width: 1800px) {
  #header .navbar .container #navbarNav ul > li.nav-item {
    margin: 0px 45px 0 0;
  }
}
@media (max-width: 1600px) {
  #header .navbar .container .logo {
    max-width: 180px;
  }
  #header .navbar .container #navbarNav .right_box .select_box {
    width: 150px;
  }
  #header .navbar .container #navbarNav .right_box .select_box a {
    font-size: 0.9rem;
  }
  #footer .inner .flex #f_logo {
    max-width: 180px;
  }
}
@media (max-width: 1440px) {
  #header .navbar .container #navbarNav ul > li.nav-item {
    margin: 0px 30px 0 0;
  }
  #footer .address .left {
    width: 40%;
  }
  #footer .address .right {
    width: 60%;
  }
}
@media (max-width: 1280px) {
  #header .inner .top {
    padding: 10px 0;
  }
  #header .inner .top .icon-part img {
    max-width: 150px;
  }
  #header .inner .top .icon-part .logo_txt {
    font-size: 0.9rem;
    margin-left: -7px;
  }
  #header .inner .top .icon-part.right {
    height: 17px;
  }
  #header .inner .top .icon-part.right::before {
    top: 0.5em;
    width: 8px;
    height: 8px;
  }
  #navbarNav > ul > li.nav-item {
    height: 50px;
  }
  #navbarNav > ul > li.nav-item .sub_menu {
    padding: 50px 0px 0;
    width: 220px;
  }
  #navbarNav > ul > li.nav-item > a {
    padding: 12px 0;
  }
  #footer .f_left .address {
    font-size: 1rem;
    margin: 0 0 0 20px;
  }
  #footer .f_left .address ul {
    margin: 5px 0 15px;
  }
  #footer .f_left .agree_btn {
    flex-direction: column;
  }
  #footer .f_left .agree_btn a:first-child {
    margin: 0 0 15px 0;
  }
  #footer .f_left .agree_btn a:first-child:after {
    content: "";
    position: absolute;
    top: auto;
    right: auto;
    width: 30px;
    height: 1px;
    background: #AFAFAF;
    transform: none;
    left: 0;
    bottom: -7px;
  }
  #footer .f_left #f_logo img {
    max-width: 150px;
  }
}
@media (max-width: 1024px) {
  #aside {
    padding: 54px 0 0;
  }
  #header {
    position: sticky;
    top: 0;
  }
  #header .inner .top {
    position: relative;
    padding: 0;
  }
  #header .inner .top .iconbar {
    display: flex;
    align-items: center;
  }
  #header .inner .top .icon-part img {
    max-width: 120px;
  }
  #header .inner .top .icon-part .logo_txt {
    font-size: 0.7rem;
  }
  #header .inner .top .icon-part.right {
    height: 10px;
  }
  #header .inner .top .icon-part.right::before {
    top: 0.3em;
    width: 7px;
    height: 7px;
  }
  #header .iconbar ol {
    margin: 0 20px 0 0;
  }
  #navbarNav > ul {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  #footer .inner {
    align-items: start;
    position: relative;
  }
  #footer .f_left {
    flex-direction: column;
    width: 100%;
  }
  #footer .f_left .address {
    margin: 20px 0 0;
  }
  #footer .f_left #f_logo img {
    max-width: 120px;
  }
  #footer .f_right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  #aside {
    padding: 55px 0 0;
  }
  #footer {
    padding: 50px 0;
  }
  #footer .f_left .agree_btn a {
    font-size: 0.9rem;
  }
  #footer .f_left .address {
    font-size: 0.9rem;
  }
  #footer .f_right .sns li {
    width: 37px;
    height: 37px;
    margin: 0 10px 0 0;
  }
  #footer .f_right .sns li img {
    height: 18px;
  }
  #footer .f_right .sns li:last-child img {
    height: 14px;
  }
  #footer .f_right p {
    width: 130px;
  }
}
@media (max-width: 480px) {
  #header .iconbar ol {
    display: none;
    margin: 0 10px 0 0;
  }
  #header .iconbar ol li a {
    padding: 5px 10px;
  }
}
@media (max-width: 414px) {
  .nav_f {
    font-size: 0.75rem;
  }
  #aside {
    width: 85%;
    right: -85%;
  }
  #aside .navbar-nav_m ul > li:last-child .email_con span {
    font-size: 0.75rem;
    background: url(/img/email_con_w.png) no-repeat left 1px/13px auto;
    padding: 0 0 0 18px;
  }
  #aside .navbar-nav_m ul > li:last-child .support_con span {
    font-size: 0.75rem;
    background: url(/img/support_con_w.png) no-repeat left 0/13px auto;
    padding: 0px 0 0 16px;
  }
  #aside .navbar-nav_m ul > li a .arrow {
    top: 0;
  }
  #header .iconbar ol {
    display: none;
  }
  #footer .f_left .address li i {
    display: none;
  }
  #footer .f_right p {
    width: 100px;
  }
  #footer .f_right .sns li {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
  }
}/*# sourceMappingURL=common.css.map */